<div style="text-align: center; margin-bottom: 20px;">
  <a href="https://www.zhihu.com/people/123-39-98-41-36" target="_blank">
    <img src="/uploads/OIP.jpg" alt="Follow Me on Zhihu" style="width: 200px; height: auto; display: block; margin: 0 auto 20px;">
  </a>
  <p style="margin-top: 20px;">
    Follow me on <a href="https://www.zhihu.com/people/123-39-98-41-36" target="_blank" style="color: rgb(0, 140, 255);">Zhihu</a> for more interesting discussions and research insights!
  </p>
</div>
